<div class="widget-box">
    <h4>Terms and conditions</h4>
    <div class="categories">
        <a asp-area="" asp-controller="Home" asp-action="TermsCustomer">Terms and conditions for Customer <span class="ti-angle-right"></span></a>
        <a asp-area="" asp-controller="Home" asp-action="TermsDriver">Terms and conditions for Drivers<span class="ti-angle-right"></span></a>
        <a asp-area="" asp-controller="Home" asp-action="TermsShop">Terms and conditions for Shop<span class="ti-angle-right"></span></a>
    </div>
</div>