<div class="widget-box">
    <h4>Shop</h4>
    <div class="categories">
        <a asp-area="" asp-controller="Home" asp-action="AboutShop">About Shop<span class="ti-angle-right"></span></a>
        <a asp-area="" asp-controller="Home" asp-action="TermsShop">Terms and conditions<span class="ti-angle-right"></span></a>
        <a asp-area="" asp-controller="Home" asp-action="ShopJoinUs">Join Us<span class="ti-angle-right"></span></a>
        <a asp-area="" asp-controller="Home" asp-action="TermsDriver">Driver<span class="ti-angle-right"></span></a>
    </div>
</div>

<div cass="col-6">
    <a href="#" class="btn btn-outline-danger btn-contact">SHOP LOGIN</a>
</div>
<div cass="col-6">
    <a href="#" class="btn btn-outline-danger btn-contact">DRIVER LOGIN</a>
</div>