@{
    Layout = "_Layout";
    ViewData["Title"] = "Abouts";
}

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="titile-block title-block_subpage">
                    <h2>About</h2>
                    <p> <a asp-area="" asp-controller="Home" asp-action="Index"> Home</a> / About</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 responsive-wrap">
                <div class="full-blog">
                 
                    <div class="blog-content">
                        <div class="blog-text">
                            <p class="text-justify">
                               WasherKart India Private Limited is an innovative e-commerce platform that offers a range of high-quality and affordable dry cleaning services with the convenience 
                               of pick and drop facilities. Our platform is designed to make dry cleaning services accessible to everyone, regardless of their location or schedule.
                            </p>
                            <p class="text-justify">
                              Our mission is to simplify the process of getting your clothes cleaned and make it hassle-free for you. We achieve this by partnering with top-rated dry cleaners and laundry
                              services across the country, providing customers with a wide range of choices for their cleaning needs.
                            </p>
                            <p class="text-justify">
                                We offer a user-friendly interface that makes it easy to place an order, select the service and preferred time for pick-up and delivery. Our platform is available 24/7,
                                and we provide customer support to ensure that all your queries are addressed promptly.
                            </p>                          
                            <p class="text-justify">
                                We also partner with drivers and shops to ensure that our customers receive prompt and reliable service. Our team of dedicated professionals works hard to ensure that 
                                your clothes are cleaned to your satisfaction, and we are committed to providing the best possible customer experience.
                            </p>
                            <p class="text-justify">
                                At WasherKart India Private Limited, we are passionate about providing high-quality and affordable dry cleaning services, and we believe in building long-lasting relationships with our customers.
                            </p>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </div>
</section>