@{
    Layout = "_Layout";
    ViewData["Title"] = "Privacy Policy";
}

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="titile-block title-block_subpage">
                    <h2>Privacy Policy</h2>
                    <p> <a asp-area="" asp-controller="Home" asp-action="Index"> Home</a> / Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 responsive-wrap">
                <div class="full-blog">
                    <div class="blog-content">
                        <div class="blog-text">
                            <p class="text-justify">
                                Privacy Policy for WasherKart India Private Limited - E-Commerce Website for Dry Cleaning Services
                                At WasherKart India Private Limited, we are committed to protecting the privacy and security of our customers and visitors to our website. This Privacy
                                Policy describes how we collect, use, and share information about you when you use our e-commerce website for dry cleaning services or purchase services from us.
                            </p>
                            <blockquote class="blockquote">
                                1. Information We Collect
                            </blockquote>
                            <p class="text-justify">
                                When you use our website or purchase services from us, we collect information about you, including your name, email address, phone number, pickup and delivery address,
                                and payment information. We also collect information about your order, including the items you have selected for dry cleaning and your preferred pickup and delivery time.
                            </p>
                            <blockquote class="blockquote">
                                2. How We Use Your Information
                            </blockquote>
                            <p class="text-justify">
                                We use the information we collect to fulfill your orders, communicate with you about your orders and our services, and improve our website and services. We may also use your
                                information to send you marketing communications about our services and promotions, but you can opt out of these communications at any time.
                            </p>

                            <blockquote class="blockquote">
                                3. Sharing Your Information
                            </blockquote>
                            <p class="text-justify">
                                We do not share your personal information with third parties except as necessary to fulfill your orders or as required by law. We may share your information
                                with third-party service providers, such as payment processors and delivery companies, to assist with order fulfillment. We require these service providers
                                to maintain the confidentiality and security of your information.
                            </p>

                            <blockquote class="blockquote">
                                4. Security
                            </blockquote>
                            <p class="text-justify">
                                We take reasonable steps to protect your information from unauthorized access, disclosure, or alteration. We use industry-standard encryption technology
                                to protect your payment information and maintain physical, electronic, and procedural safeguards to protect the security of our website and your information.
                            </p>

                            <blockquote class="blockquote">
                                5. Your Rights
                            </blockquote>
                            <p class="text-justify">
                                If you are a resident of certain countries, you may have the right to access, update, or delete your personal information.
                                If you would like to exercise any of these rights, please contact us using the information provided below.
                            </p>

                            <blockquote class="blockquote">
                                6. Changes to this Privacy Policy
                            </blockquote>
                            <p class="text-justify">
                                We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons.
                                We will provide notice of any material changes by posting the updated Privacy Policy on our website and updating the date at the top of this policy.
                            </p>

                            <blockquote class="blockquote">
                                7. Marketing Communications
                            </blockquote>
                            <p class="text-justify">
                                We may send promotional offers and marketing communications to you by email, SMS, WhatsApp, or telephone call. If you would like to opt-out of these communications,
                                you can do so by clicking on the "unsubscribe" link in our emails, replying "STOP" to our SMS or WhatsApp messages, or telling our customer service representative during a telephone call.
                                We will honor your request to opt-out of these communications within a reasonable period of time. Please note that even if you opt-out of these communications, we may still send you
                                transactional or service-related messages, such as order confirmations or shipping notifications.
                            </p>

                            <blockquote class="blockquote">
                                8. Order and Service Updates
                            </blockquote>
                            <p class="text-justify">
                                We may send you updates about your orders and our services by email, SMS, WhatsApp, or telephone call. These updates may include information about the status of your order, delivery or pickup updates, or changes to our services.
                                By placing an order with us, you consent to receive these updates. However, if you would like to opt-out of these communications, you can do so by contacting our customer service team or clicking on the "unsubscribe" link in our emails.
                                Please note that even if you opt-out of these communications, we may still send you important transactional or service-related messages, such as order confirmations or shipping notifications.
                            </p>

                            <blockquote class="blockquote">
                                9. Third-Party Service Providers
                            </blockquote>
                            <p class="text-justify">
                                We may use third-party service providers, such as shops and drivers, to fulfill your orders and provide our services. These service providers may receive your personal information in order to complete the services you have requested.
                                We require these third-party service providers to maintain the confidentiality and security of your information and only use it for the purposes for which we have engaged them. We also enter into agreements with these service providers that require them to comply with applicable data protection laws and regulations.
                                By using our services, you consent to the transfer of your personal information to these third-party service providers. If you have any questions or concerns about how your information is being used by these service providers, please contact our customer service team.

                            </p>

                            <blockquote class="blockquote">
                                10. Contact Information
                            </blockquote>
                            <p class="text-justify">
                                If you have any questions or concerns about this Privacy Policy or our practices regarding your personal information, please contact us at care@washerkart.com.
                                We may use your contact information, such as your email address, to communicate with you about our services, promotions, and other relevant information. We may also use your contact information to respond to your inquiries and provide customer support.
                                We take reasonable measures to protect your personal information from unauthorized access or disclosure. However, we cannot guarantee that your information will be completely secure at all times. If you have any concerns about the security of your information, please contact us immediately.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>