@{
    Layout = "_Layout";
    ViewData["Title"] = "Promotional offer and coupon";
}

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="titile-block title-block_subpage">
                    <h2>Promotional offer and coupon</h2>
                    <p> <a asp-area="" asp-controller="Home" asp-action="Index"> Home</a> /Promotional offer and coupon</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 responsive-wrap">
                <div class="full-blog">
                    <div class="blog-content">
                        <div class="blog-text">

                            <p class="text-justify">
                                At WasherKart India Private Limited, we occasionally offer promotional offers and coupons to our customers. These offers and coupons can be accessed through our app or website, and they can provide discounts, cashback, or other benefits on our services.
                            </p>
                            <p class="text-justify">
                                Here are some important points to keep in mind regarding our promotional offers and coupons:
                            </p>
                            <p class="text-justify">
                                Validity: Each promotional offer or coupon may have a specific validity period, after which it may expire and become unusable.
                            </p>
                            <p class="text-justify">
                                Terms and Conditions: Promotional offers and coupons may be subject to certain terms and conditions, such as a minimum order value, maximum discount limit, or specific services that are eligible for the offer. These terms and conditions may vary for each offer, and customers can access them through our app or website.
                            </p>
                            <p class="text-justify">
                                Redemption: Promotional offers and coupons can be redeemed through our app or website at the time of placing an order. Customers need to enter the coupon code or select the offer during checkout to avail of the discount or other benefits.
                            </p>
                            <p class="text-justify">
                                Limitations: Each promotional offer or coupon may have specific limitations, such as a limit on the number of times it can be used, or it may not be combinable with other offers or coupons.
                            </p>
                            <p class="text-justify">
                                Modification or Termination: WasherKart India Private Limited reserves the right to modify or terminate any promotional offer or coupon at any time without prior notice.
                            </p>
                            <p class="text-justify">
                                If you have any questions or concerns regarding our promotional offers and coupons, please contact us at
                                <a href="mailto:support@washerkart.com.">mailto:support@washerkart.com.</a>
                            </p>
                            <p class="text-justify">
                                WasherKart India Private Limited offers a referral program to our customers, shops, and drivers, allowing them to earn rewards for referring their friends, family, or acquaintances to our platform. Here's how our referral program works for each of these parties:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>