@{
    Layout = "_Layout";
    ViewData["Title"] = "Refund";
}

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="titile-block title-block_subpage">
                    <h2>Refund</h2>
                    <p> <a asp-area="" asp-controller="Home" asp-action="Index"> Home</a> /Refund</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 responsive-wrap">
                <div class="full-blog">
                    <div class="blog-content">
                        <div class="blog-text">
                            <p class="text-justify">
                                At WasherKart India Private Limited, we strive to provide high-quality dry cleaning services with excellent customer service. However, if for any reason you are not satisfied with our services, we offer a refund policy. The following terms and conditions apply:
                            </p>
                            <blockquote class="blockquote">
                                Eligibility for Refund
                            </blockquote>
                            <p class="text-justify">
                               Refunds will only be provided for services that have not met the customer's expectations or are not as described on our website or app. Customers must notify us of their concerns within 24 hours of receiving the service.
                            </p>
                            <blockquote class="blockquote">
                               Refund Process
                            </blockquote>
                            <p class="text-justify">
                               Customers can request a refund by contacting our customer service team at support@washerkart.com or through our app. We will review the request and, if approved, initiate the refund process. Refunds will be issued through the original mode of payment.
                            </p>

                            <blockquote class="blockquote">
                               Refund Amount
                            </blockquote>
                            <p class="text-justify">
                               The refund amount will be determined based on the nature of the complaint and the services provided. We reserve the right to deduct a reasonable amount for any usage of our services, including delivery charges or any discounts provided.
                            </p>

                            <blockquote class="blockquote">
                              Refund Timeline
                            </blockquote>
                            <p class="text-justify">
                               Refunds will be processed within 7-10 business days from the date of approval. However, the refund may take longer to reflect in the customer's account, depending on the customer's bank or payment method.
                            </p>

                            <blockquote class="blockquote">
                               Refund Policy Changes
                            </blockquote>
                            <p class="text-justify">
                                We reserve the right to modify or update our refund policy at any time without prior notice.
                            </p>
                            <p class="text-justify">
                                If you have any questions or concerns regarding our refund policy, please contact us at support@washerkart.com.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>