@{
    Layout = "_Layout";
    ViewData["Title"] = "Terms and conditions for shop";
}

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="titile-block title-block_subpage">
                    <h2>Terms and conditions for shop</h2>
                    <p> <a asp-area="" asp-controller="Home" asp-action="Index"> Home</a> /Terms and conditions for shop</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 responsive-wrap">
                <div class="sidebar">
                    @{
                        Html.RenderPartial("_LeftNavBar.cshtml");
                    }
                </div>
            </div>
            <div class="col-md-8 responsive-wrap">
                <div class="full-blog">
                    <div class="blog-content">
                        <div class="blog-text">
                            <p class="text-justify">
                               Thank you for your interest in partnering with WasherKart India Private Limited as a tie-up shop. By agreeing to work with us, you agree to abide by the following terms and conditions:
                            </p>
                            <blockquote class="blockquote">
                                Tie-up Shop Requirements
                            </blockquote>
                            <p class="text-justify">
                                You must have a valid business registration and provide a clean and safe location for customers to drop off their clothes.v
                            </p>
                            <blockquote class="blockquote">
                                Accepting Clothes for Cleaning
                            </blockquote>
                            <p class="text-justify">
                                As a tie-up shop, you will be accepting clothes from customers for cleaning. You are responsible for checking the clothes for any damage or stains and communicating this information to WasherKart India Private Limited. You should also inform customers about the estimated time for their clothes to be ready for pickup.
                            </p>

                            <blockquote class="blockquote">
                                Customer Service
                            </blockquote>
                            <p class="text-justify">
                                You are expected to provide excellent customer service to our customers. You should be polite and professional at all times and address any customer queries or concerns promptly.
                            </p>

                            <blockquote class="blockquote">
                               Payment and Compensation
                            </blockquote>
                            <p class="text-justify">
                                Yes, as a tie-up shop for WasherKart India Private Limited, you will be paid a commission for every successful order processed through your shop. The commission will be calculated based on the number of orders processed and the services provided. WasherKart India Private Limited will deduct a commission on every order processed through our app or website. The commission rate may vary based on factors such as the services provided, order value, and other applicable charges. The commission structure and rates will be communicated to our tie-up shops in advance.
                            </p>

                            <blockquote class="blockquote">
                               Confidentiality
                            </blockquote>
                            <p class="text-justify">
                                As a tie-up shop for WasherKart India Private Limited, you may come across sensitive customer information. You are required to maintain the confidentiality of this information and not disclose it to any third party.
                            </p>
                            <p class="text-justify">
                               By agreeing to work with us as a tie-up shop, you agree to these terms and conditions. We reserve the right to modify or update these terms and conditions at any time without prior notice. If you have any questions or concerns, please contact us at support@washerkart.com.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>