@{
    Layout = "_Layout";
    ViewData["Title"] = "Terms and conditions for driver";
}

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="titile-block title-block_subpage">
                    <h2>Terms and conditions for driver</h2>
                    <p> <a asp-area="" asp-controller="Home" asp-action="Index"> Home</a> /Terms and conditions for driver</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 responsive-wrap">
                <div class="sidebar">
                    @{
                        Html.RenderPartial("_LeftNavBar.cshtml");
                    }
                </div>
            </div>
            <div class="col-md-8 responsive-wrap">
                <div class="full-blog">
                    <div class="blog-content">
                        <div class="blog-text">
                            <p class="text-justify">
                                Thank you for your interest in becoming a driver for WasherKart India Private Limited. By agreeing to work as a driver for us, you agree to abide by the following terms and conditions:
                            </p>
                            <blockquote class="blockquote">
                                Driver Requirements
                            </blockquote>
                            <p class="text-justify">
                                You must possess a valid driver's license and have a reliable mode of transportation to work as a driver for WasherKart India Private Limited.
                            </p>
                            <blockquote class="blockquote">
                                Pick-Up and Delivery
                            </blockquote>
                            <p class="text-justify">
                                As a driver, you will be responsible for picking up and delivering clothes to our customers in a timely and efficient manner. You are required to follow the pick-up and delivery schedule as provided by the company and ensure that all clothes are picked up and delivered to the correct location.
                            </p>
                            <blockquote class="blockquote">
                                Quality of Service
                            </blockquote>
                            <p class="text-justify">
                                We strive to partner with top-rated dry cleaners and laundry services across the country to provide the highest quality of service. We take great care in cleaning your clothes, but we are not responsible for any damage or loss caused during the cleaning process.
                            </p>
                            <blockquote class="blockquote">
                                Customer Service
                            </blockquote>
                            <p class="text-justify">
                                You will be representing WasherKart India Private Limited as a driver and are expected to provide excellent customer service to our customers. You should be polite and professional at all times and address any customer queries or concerns promptly.
                            </p>

                            <blockquote class="blockquote">
                                Payment and Compensation
                            </blockquote>
                            <p class="text-justify">
                                You will be paid a commission for every successful pick-up and delivery. The commission will be calculated based on the number of clothes picked up and delivered, and the distance traveled. Payment will be made through our online payment gateway, and you will be provided with a statement of your earnings at the end of each payment cycle.
                            </p>

                            <blockquote class="blockquote">
                                Confidentiality
                            </blockquote>
                            <p class="text-justify">
                                As a driver for WasherKart India Private Limited, you may come across sensitive customer information. You are required to maintain the confidentiality of this information and not disclose it to any third party.
                            </p>

                            <blockquote class="blockquote">
                                Termination
                            </blockquote>
                            <p class="text-justify">
                                WasherKart India Private Limited reserves the right to terminate your services as a driver at any time for any reason.
                                By agreeing to work as a driver for us, you agree to these terms and conditions. We reserve the right to modify or update these terms and conditions at any time without prior notice. If you have any questions or concerns, please contact us at support@washerkart.com.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>