@{
    Layout = "_Layout";
    ViewData["Title"] = "Terms and conditions for customer";
}

<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="titile-block title-block_subpage">
                    <h2>Terms and conditions for customer</h2>
                    <p> <a asp-area="" asp-controller="Home" asp-action="Index"> Home</a> /Terms and conditions for customer</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 responsive-wrap">
                <div class="sidebar">
                    @{
                        Html.RenderPartial("_LeftNavBar.cshtml");
                    }
                </div>
            </div>
            <div class="col-md-8 responsive-wrap">
                <div class="full-blog">
                    <div class="blog-content">
                        <div class="blog-text">
                            <p class="text-justify">
                                Thank you for choosing WasherKart India Private Limited for your dry cleaning needs. By accessing or using our website, you agree to abide by the following terms and conditions:
                            </p>
                            <blockquote class="blockquote">
                                Order Placement and Payment
                            </blockquote>
                            <p class="text-justify">
                                You can place an order for our dry cleaning services through our website by selecting the preferred service, scheduling the pick-up and delivery time, and making the payment. We accept payment through our secure online payment gateway.
                            </p>
                            <blockquote class="blockquote">
                                Pick-Up and Delivery
                            </blockquote>
                            <p class="text-justify">
                                We work with drivers and shops to provide reliable and efficient pick-up and delivery services. Our team will make every effort to pick up and deliver your clothes on time, but we are not responsible for any delay due to unforeseen circumstances beyond our control.
                            </p>

                            <blockquote class="blockquote">
                                Quality of Service
                            </blockquote>
                            <p class="text-justify">
                                We strive to partner with top-rated dry cleaners and laundry services across the country to provide the highest quality of service. We take great care in cleaning your clothes, but we are not responsible for any damage or loss caused during the cleaning process.
                            </p>

                            <blockquote class="blockquote">
                                Cancellation and Refunds
                            </blockquote>
                            <p class="text-justify">
                                You can cancel your order before the pick-up time for a full refund. If you cancel after the pick-up time, we may charge a cancellation fee. In case of any quality issues with our service, we will provide a refund or re-clean the clothes as per our discretion.
                            </p>

                            <blockquote class="blockquote">
                                Privacy Policy
                            </blockquote>
                            <p class="text-justify">
                                We respect your privacy and take all necessary steps to ensure the protection of your personal information. Please refer to our privacy policy for more information.
                            </p>

                            <blockquote class="blockquote">
                                Intellectual Property
                            </blockquote>
                            <p class="text-justify">
                                The content and images on our website are the property of WasherKart India Private Limited and are protected by copyright laws. You are not permitted to copy or use any of our content without our written permission.
                            </p>

                            <blockquote class="blockquote">
                                Governing Law
                            </blockquote>
                            <p class="text-justify">
                                These terms and conditions shall be governed by and construed in accordance with the laws of India
                            </p>
                            <p class="text-justify">                               
                                By accessing or using our website, you agree to these terms and conditions. We reserve the right to modify or update these terms and conditions at any time without prior notice. If you have any questions or concerns, please contact us at support@washerkart.com.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>